<div id="shopify-section-[id]" class="shopify-section specs">
  <div>
    <div class="specs-table-row">
      <h2>{{ section.settings.row1label }}</h2>
      <p>{{ section.settings.row1value }}</p>
    </div>
    <div class="specs-table-row">
      <h2>{{ section.settings.row2label }}</h2>
      <p>{{ section.settings.row2value }}</p>
    </div>
    <div class="specs-table-row">
      <h2>{{ section.settings.row3label }}</h2>
      <p>{{ section.settings.row3value }}</p>
    </div>
    <div class="specs-table-row">
      <h2>{{ section.settings.row4label }}</h2>
      <p>{{ section.settings.row4value }}</p>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Specs",
  "settings": [
    {
      "id": "row1label",
      "label": "Row #1 label",
      "type": "text"
    },
    {
      "id": "row1value",
      "label": "Row #1 value",
      "type": "text"
    },
    {
      "id": "row2label",
      "label": "Row #2 label",
      "type": "text"
    },
    {
      "id": "row2value",
      "label": "Row #2 value",
      "type": "text"
    },
    {
      "id": "row3label",
      "label": "Row #3 label",
      "type": "text"
    },
    {
      "id": "row3value",
      "label": "Row #3 value",
      "type": "text"
    },

    {
      "id": "row4label",
      "label": "Row #4 label",
      "type": "text"
    },
    {
      "id": "row4value",
      "label": "Row #4 value",
      "type": "text"
    }
  ]
}
{% endschema %}
